body {
  background-image: url("https://i.ibb.co/vVL2PNx/Web-1920-1-2x.png.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;  
}  
#general{
  margin-top: 40px;
  margin-left: 350px;
}
